* {

}

header{
    margin-right: 10%;
}
header nav h1{
    font-size: 45px;
}
div.f{
    position: relative;
    display: inline-block;
}
div.indice{
    background-color: rgb(250, 244, 244);
    border: solid 2px  black;
    position: relative;
    bottom: 105px;
    left: 35%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: -35%;
    width: 111.75%;
}div.indice ul a{
    font-size: 30px;
}
body{
	margin-left: 5%;
    margin-right: 10%;
}
body main h2{
    font-size: 30px;
}
div.expl{
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
    border: solid 2px  black;
}
div.tipo{
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
}
footer{
    background-color: black;
}
footer h3{
    color: #FFFFFF;
}
footer a{
    color: #09eded;
}
img.f{
    width: 115%;
}
img.f1{
    width: 10%;
}
img.f2{
    width: 30%;
}
img.f3{
    width: 35%;
}
